.b {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
    white-space: nowrap;
  }
  .tabmenuitem {
    text-decoration: none;
    border-bottom: 3px solid var(--background-normal);
    box-sizing: border-box;
    width: 120px;
    padding: var(--padding-base) var(--padding-21xl);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;
  }
  .tabmenugroup,
  .tabmenuitem,
  .tabmenuitem1 {
    display: flex;
    flex-direction: row;
  }
  .tabmenuitem1 {
    text-decoration: none;
    width: 120px;
    padding: var(--padding-base) var(--padding-21xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    color: inherit;
  }
  .tabmenugroup {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b3 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
  }
  .textbutton {
    text-decoration: none;
    padding: var(--padding-base);
    justify-content: center;
    font-size: var(--label-2);
    color: inherit;
  }
  .fixedarea,
  .gnb,
  .textbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fixedarea {
    width: 1136px;
    justify-content: space-between;
  }
  .gnb {
    align-self: stretch;
    background-color: var(--primary-normal);
    padding: 0 var(--padding-13xl);
    justify-content: center;
    cursor: pointer;
  }
  .title1 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .title1,
  .value {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-weight: 700;
  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .b4 {
    position: relative;
    font-size: var(--caption-1);
    font-family: var(--label-1);
    color: var(--background-normal);
    text-align: left;
  }
  .badge {
    border-radius: var(--br-81xl);
    background-color: var(--text-strong);
    display: flex;
    flex-direction: column;
    padding: 6px var(--padding-5xs);
    align-items: center;
    justify-content: center;
  }
  .label {
    position: relative;
    font-size: var(--label-1);
    letter-spacing: 0.01em;
    line-height: 28px;
    font-family: var(--label-1);
    color: var(--text-alternative-1);
    text-align: left;
    white-space: nowrap;
  }
  .button,
  .titlearea {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .button {
    cursor: pointer;
    border: 1px solid var(--line-strong);
    padding: var(--padding-xs) var(--padding-base);
    background-color: var(--secondary-normal);
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    flex-grow: auto;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .titlearea {
    align-self: stretch;
    justify-content: space-between;
  }
  .vectorIcon {
    position: absolute;
    height: 75%;
    width: 75%;
    top: 12.5%;
    right: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .icon3,
  .xS {
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }
  .xS {
    padding: 0;
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon3 {
    padding: var(--padding-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.3;
  }
  .vectorStrokeIcon,
  .vectorStrokeIcon1,
  .vectorStrokeIcon2,
  .vectorStrokeIcon3,
  .vectorStrokeIcon4,
  .vectorStrokeIcon5 {
    position: absolute;
    height: 20%;
    width: 33.33%;
    top: 0;
    right: 66.67%;
    bottom: 80%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorStrokeIcon1,
  .vectorStrokeIcon2,
  .vectorStrokeIcon3,
  .vectorStrokeIcon4,
  .vectorStrokeIcon5 {
    right: 0;
    left: 66.67%;
  }
  .vectorStrokeIcon2,
  .vectorStrokeIcon3,
  .vectorStrokeIcon4,
  .vectorStrokeIcon5 {
    top: 40%;
    right: 66.67%;
    bottom: 40%;
    left: 0;
  }
  .vectorStrokeIcon3,
  .vectorStrokeIcon4,
  .vectorStrokeIcon5 {
    right: 0;
    left: 66.67%;
  }
  .vectorStrokeIcon4,
  .vectorStrokeIcon5 {
    top: 80%;
    right: 66.67%;
    bottom: 0;
    left: 0;
  }
  .vectorStrokeIcon5 {
    right: 0;
    left: 66.67%;
  }
  .dragIndicator {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 12px;
    height: 20px;
  }
  .titlearea1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--headline-1);
    color: var(--text-strong);
  }
  .vectorIcon2,
  .vectorIcon3,
  .vectorIcon4,
  .vectorIcon5 {
    position: absolute;
    height: 83.33%;
    width: 83.33%;
    top: 12.5%;
    right: 12.5%;
    bottom: 4.17%;
    left: 4.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorIcon3,
  .vectorIcon4,
  .vectorIcon5 {
    height: 67.17%;
    width: 67.17%;
    top: 3.66%;
    right: 3.66%;
    bottom: 29.17%;
    left: 29.17%;
  }
  .vectorIcon4,
  .vectorIcon5 {
    height: 75%;
    width: 25%;
    top: 12.5%;
    right: 54.17%;
    bottom: 12.5%;
    left: 20.83%;
  }
  .vectorIcon5 {
    right: 20.83%;
    left: 54.17%;
  }
  .dragIndicatorIcon {
    position: relative;
    width: 12px;
    height: 20px;
  }
  .icon4 {
    cursor: pointer;
    border: 0;
    padding: 0 0 0 var(--padding-3xs);
    background-color: transparent;
    height: 40px;
    box-sizing: border-box;
    justify-content: flex-end;
  }
  .icon4,
  .icongroup,
  .layout1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icongroup {
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .layout1 {
    align-self: stretch;
    justify-content: flex-end;
  }
  .menuimageIcon {
    position: relative;
    width: 104px;
    height: 104px;
  }
  .description,
  .menuname {
    margin: 0;
    position: relative;
    font-family: inherit;
  }
  .menuname {
    font-size: inherit;
    line-height: 24px;
    font-weight: 700;
  }
  .description {
    font-size: var(--caption-1);
    letter-spacing: 0.03em;
    line-height: 16px;
    font-weight: 400;
  }
  .div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .value1 {
    margin: 0;
    position: relative;
    font-size: var(--label-2);
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 700;
    font-family: inherit;
  }
  .menuinfo {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
  }
  .layout2,
  .menuCard,
  .menuinfo {
    display: flex;
    justify-content: flex-start;
  }
  .layout2 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-2xl);
  }
  .menuCard {
    border-radius: var(--br-5xs);
    background-color: var(--background-normal);
    border: 1px solid var(--line-normal);
    box-sizing: border-box;
    width: 352px;
    flex-direction: column;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
    align-items: flex-end;
    gap: var(--gap-base);
  }
  .editIcon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon11,
  .icon41 {
    display: flex;
    flex-direction: row;
  }
  .icon11 {
    padding: var(--padding-5xs);
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.3;
  }
  .icon41 {
    height: 40px;
    padding: 0 0 0 var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
  }
  .menuname1 {
    position: relative;
    line-height: 24px;
  }
  .description1,
  .value2 {
    position: relative;
    font-size: var(--caption-1);
    letter-spacing: 0.03em;
    line-height: 16px;
  }
  .value2 {
    font-size: var(--label-2);
    letter-spacing: 0.01em;
    line-height: 24px;
  }
  .layout,
  .menuCard1,
  .row,
  .row1 {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .menuCard1 {
    border-radius: var(--br-5xs);
    background-color: var(--background-normal);
    border: 1px solid var(--line-normal);
    box-sizing: border-box;
    width: 352px;
    flex-direction: column;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
    align-items: flex-end;
  }
  .layout,
  .row,
  .row1 {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
  }
  .layout,
  .row1 {
    align-items: flex-start;
  }
  .layout {
    border-radius: var(--br-5xl);
    background-color: var(--background-normal);
    border: 1px solid var(--line-normal);
    flex-direction: column;
    padding: var(--padding-13xl) var(--padding-5xl);
    align-items: center;
    font-size: var(--title-2);
    color: var(--text-normal);
  }
  .title3 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 32px;
  }
  .titlearea2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .description5 {
    align-self: stretch;
    position: relative;
    font-size: var(--caption-1);
    letter-spacing: 0.03em;
    line-height: 16px;
    display: inline-block;
    height: 32px;
    flex-shrink: 0;
  }
  .menuCard5,
  .row2 {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .menuCard5 {
    border-radius: var(--br-5xs);
    background-color: var(--background-normal);
    border: 1px solid var(--line-normal);
    box-sizing: border-box;
    width: 352px;
    flex-direction: column;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
    align-items: flex-end;
  }
  .row2 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--title-2);
    color: var(--text-normal);
  }
  .b5 {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 16px;
  }
  .label1 {
    border-radius: var(--br-81xl);
    background-color: var(--status-alert-2);
    border: 1px solid var(--status-alert-1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs);
    align-items: center;
    justify-content: center;
  }
  .menuimageIcon8 {
    position: relative;
    width: 104px;
    height: 104px;
    opacity: 0.5;
  }
  .menuinfo8 {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
    opacity: 0.5;
  }
  .layout19,
  .menuCard8,
  .menuinfo8 {
    display: flex;
    justify-content: flex-start;
  }
  .layout19 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-2xl);
    font-size: var(--title-2);
    color: var(--text-alternative-2);
  }
  .menuCard8 {
    border-radius: var(--br-5xs);
    background-color: var(--background-alternative);
    width: 352px;
    flex-direction: column;
    padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
    box-sizing: border-box;
    align-items: flex-end;
    gap: var(--gap-base);
    font-size: var(--caption-1);
    color: var(--status-alert-1);
  }
  .bodylayout,
  .layout11 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  
  .bodylayout,
  .layout11 {
    flex-direction: column;
    align-items: center;
  }
  .layout11 {
    border-radius: var(--br-5xl);
    background-color: var(--background-normal);
    border: 1px solid var(--line-normal);
    padding: var(--padding-13xl) var(--padding-5xl);
    gap: var(--gap-base);
  }
  .bodylayout {
    height: 1252px;
    padding: var(--padding-13xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
    font-size: var(--headline-1);
    color: var(--text-strong);
  }
  .floatingbuttonChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--primary-normal);
    width: 64px;
    height: 64px;
  }
  .plusLIcon {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
  }
  .floatingbutton {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    width: 64px;
    height: 64px;
  }
  .layout22 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-13xl) var(--padding-13xl);
    align-items: flex-start;
    justify-content: flex-end;
  }
  .web {
    position: relative;
    background-color: var(--background-alternative);
    width: 100%;
    height: 1408px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--label-1);
    color: var(--background-normal);
    font-family: var(--label-1);
  }
  @media screen and (max-width: 1200px) {
    .row,
    .row1 {
      flex-direction: row;
    }
    .layout {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 960px) {
    .menuCard {
      width: 352px;
    }
    .row,
    .row1 {
      flex-direction: row;
    }
    .layout {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 420px) {
    .layout,
    .row,
    .row1 {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 840px) {
    .row,
    .row1 {
      flex-direction: column;
    }
  }