.web {
  position: relative;
  justify-content: flex-start;
  background-color: var(--background-alternative);
  width: 100%;
  text-align: left;
  font-size: var(--headline-1);
  color: var(--text-strong);
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding: var(--padding-13xl);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-base);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.headerTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.headerTitleLabel{
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.headerTitleValue{
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--line-strong);
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--secondary-normal);
  border-radius: var(--br-5xs);
  justify-content: center;
  gap: var(--gap-5xs);
}

.badge {
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-3xs);
  align-items: center;
  justify-content: center;
}

.buttonValue {
  position: relative;
  font-size: var(--caption-1);
  font-family: var(--font-bold);
  color: var(--background-normal);
  text-align: left;
}

.buttonLabel {
  position: relative;
  font-size: var(--label-1);
  letter-spacing: 0.01em;
  line-height: 28px;
  font-family: var(--body-2);
  color: var(--text-alternative-1);
  text-align: left;
}

.titlearea {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}
.title2 {
  align-self: stretch;
  line-height: 24px;
}
.label1,
.option,
.title2 {
  position: relative;
}
.label1 {
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 700;
}
.option {
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
  color: var(--text-alternative-2);
}
.div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.value1 {
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: 700;
}
.orderlist {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label5 {
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: 700;
  display: inline-block;
  width: 320px;
}
.div,
.orderinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.orderinfo {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--label-3);
  color: var(--text-alternative-1);
}
.div {
  width: 320px;
  gap: var(--gap-base);
}
.value5 {
  position: relative;
  font-size: var(--body-1);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  width: 320px;
}
.tabelCard {
  border-radius: var(--br-base);
  background-color: var(--background-normal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  cursor: pointer;
}
.label6 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.label10,
.value10,
.value6 {
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
}
.label10,
.value10 {
  display: inline-block;
  width: 320px;
}
.value10 {
  font-size: var(--body-1);
  letter-spacing: 0.01em;
  line-height: 24px;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.cardlist {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--title-2);
}
.contentArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1136px;
  justify-content: center;
  gap: var(--gap-base);
}