html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-alternative); /* Set the desired background color */
}

.web {
  position: relative;
  justify-content: flex-start;
  background-color: var(--background-alternative);
  width: 100%;
  text-align: left;
  font-size: var(--headline-1);
  color: var(--text-strong);
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding: var(--padding-5xl) var(--padding-13xl) var(--padding-13xl);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-base);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.headerTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.headerTitleLabel{
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.headerTitleValue{
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--line-strong);
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--secondary-normal);
  border-radius: var(--br-5xs);
  justify-content: center;
  gap: var(--gap-5xs);
}

.badge {
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-900);
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-3xs);
  align-items: center;
  justify-content: center;
}

.buttonValue {
  position: relative;
  font-size: var(--caption-1);
  font-family: var(--font-bold);
  color: var(--background-normal);
  text-align: left;
}

.buttonLabel {
  position: relative;
  font-size: var(--label-1);
  letter-spacing: 0.01em;
  line-height: 28px;
  font-family: var(--font-regular);
  color: var(--text-alternative-1);
  text-align: left;
}

.tableList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--title-2);
  width: 100%;
  
}

.tableRow {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: var(--gap-base);
}

.tableCard {
  border-radius: var(--br-base);
  background-color: var(--background-normal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  cursor: pointer;
  overflow-x: hidden;
}

.tableContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 180px;
  align-self: stretch;
  gap: var(--gap-base);
  overflow-x: hidden;
}

.tableContentTitle {
  align-self: stretch;
  line-height: 24px;
  position: relative;
}

.orderContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--label-3);
  color: var(--text-alternative-1);
}

.orderContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}

.menuAreaWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}

.menuArea {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.menuLabel {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionLabel {
  align-self: stretch;
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 20px;
  color: var(--text-alternative-2);
  white-space: nowrap;
}

.orderPrice {
  margin-left: var(--gap-9xs);
  align-self: stretch;
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.extraLabel {
  position: relative;
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: 700;
  display: inline-block;
  width: 320px;
}

.orderTotalPrice {
  position: relative;
  font-size: var(--body-1);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  width: 320px;
}