.title,
.xLChild {
  position: relative;
}
.title {
  letter-spacing: -0.02em;
  line-height: 32px;

}
.xLChild {
  width: 18.5px;
  height: 18.5px;
}
.xL {
  width: 24px;
  height: 24px;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.header,
.icon,
.xL {
  display: flex;
  flex-direction: row;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  align-self: stretch;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-base)
    var(--padding-13xl);
  align-items: center;
  justify-content: space-between;
}
.divider,
.label {
  position: relative;
}
.label {
  line-height: 24px;
  font-weight: 700;
}
.divider {
  align-self: stretch;
  border-top: 1px solid var(--text-assitive);
  box-sizing: border-box;
  height: 1px;
  border: 1px solid var(--line-strong);
}
.titlearea {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--text-strong);
}
.label1,
.price {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 700;
}
.label1 {
  display: flex;
  align-items: center;
  width: 110px;
  height: 24px;
  flex-shrink: 0;
}
.price {
  flex: 1;
  text-align: right;
}
.info {
  align-self: stretch;
  display: flex;
  width: 320px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label2,
.price1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.label2 {
  display: flex;
  align-items: center;
  width: 110px;
  height: 20px;
  flex-shrink: 0;
}
.price1 {
  flex: 1;
  text-align: right;
}
.optionGroup,
.optionInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.optionInfo {
  width: 320px;
  flex-direction: row;
}
.optionGroup {
  align-self: stretch;
  flex-direction: column;
  color: var(--text-alternative-1);
}
.order {
  width: 176px;
  display: flex;
  gap: var(--gap-5xs);
}
.optionGroup1,
.order,
.ordercolumn {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.optionGroup1 {
  align-self: stretch;
  display: none;
  color: var(--text-alternative-1);
}
.ordercolumn {
  display: flex;
  max-height: 200px;
  overflow-y:auto;
  gap: var(--gap-21xl);
  width:360px;
}
.label7 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 110px;
  height: 24px;
  flex-shrink: 0;
}
.div1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--label-3-regular-size);
  
}
.label13,
.price12 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
}
.price12 {
  font-size: var(--label-1-regular-size);
  line-height: 28px;
  font-weight: 700;
}
.info4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-1-bold-size);
}
.label14 {
  position: relative;
  font-size: var(--label-1-regular-size);
  letter-spacing: 0.01em;
  line-height: 28px;
  font-family: var(--body-2-regular);
  color: var(--background-normal);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--primary-normal);
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.plusIcon {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.label15 {
  position: relative;
  font-size: var(--label-1-regular-size);
  letter-spacing: 0.01em;
  line-height: 28px;
  font-family: var(--body-2-regular);
  color: var(--text-alternative-1);
  text-align: left;
}
.button1,
.buttongroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--line-strong);
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--fill-normal);
  flex: 1;
  border-radius: var(--br-5xs);
}
.buttongroup {
  align-self: stretch;
}
.orderinfo {
  border-radius: var(--br-5xs);
  background-color: var(--background-normal);
  border: 1px solid var(--text-assitive);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  border: 1px solid var(--line-strong);
  
}
.label16,
.price25 {
  position: relative;
  line-height: 24px;
}
.price25 {
  font-size: var(--label-1-regular-size);
  letter-spacing: 0.01em;
  line-height: 28px;
}
.scrollthumb {
  position: relative;
  border-radius: 40px;
  background-color: var(--text-assitive);
  width: 8px;
  height: 143px;
}
.div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-13xl);
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
  gap: var(--gap-5xl);
  cursor: pointer;
  font-size: var(--title-2-bold-size);
  color: var(--text-normal);
  
  justify-content: center;
  align-items: center;
  
}
.modaltable {
  
  border-radius: var(--br-base);
  background-color: var(--background-normal);
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  min-width: 50%;
  min-height: 50%;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--headline-bold-size);
  color: var(--text-strong);
  font-family: var(--body-2-regular);
  position: relative; 
  width: 450px;

}

.outer-div {
  height: 300px; /* Set a fixed height for the outer div */
  overflow: auto; /* Enable scrolling for the outer div */
}