.mobile {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background-color: var(--background-alternative);
  width: 100%;
  overflow: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--label-2);
  color: var(--text-strong);
  font-family: var(--label-3);
  height: calc(100vh - 69px);
}

.content{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--gap-5xs);
}

.headerSpace {
    align-self: stretch;
    background-color: var(--background-normal);
    justify-content: flex-end;
    height: var(--hs-normal);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .header {
    align-self: stretch;
    background-color: var(--background-normal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: var(--padding-base) 0 var(--padding-base) 0;
  }

  .icon {
    display: flex;
    flex-direction: row;
    padding: var(--padding-base);
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9999;
  }

  .backIcon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .headerText {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center; 
    letter-spacing: 0.01em;
    line-height: 26px;
  }

  .layout {
    gap: var(--gap-5xs);
    font-size: var(--title-1);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .divCurrentCart{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--background-normal);
    padding: var(--padding-5xl) var(--padding-base);
    gap: var(--gap-5xl);
  }

  .titleAreaWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }

  .titleArea {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .titleCurrentCart {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 26px;
  }
  .priceCurrentCart{
    position: relative;
    font-size: var(--title-2);
    line-height: 24px;
    color: var(--text-normal);
    text-align: right;
  }

  .mainDivider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid var(--line-normal);
    box-sizing: border-box;
    height: 1px;
  }

  .divCurrentCartItemWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--label-2);
    color: var(--text-alternative-1);
  }

  .divItemWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-base);
  }

  .divCurrentCartItemHeader {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-normal);
  }

  .currentCartItemName {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
  }

  .deleteIcon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .divCurrentCartContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-base);
    font-size: var(--label-3);
  }

  .menuImage {
    position: relative;
    width: 72px;
    height: 72px;
    object-fit: cover;
    border: 0px solid transparent;
    border-radius: var(--br-9xs) ; 
  }

  .divCurrentCartPriceWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xs);
  }

  .divItemPriceWrapper {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }

  .priceBlack {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
    color: var(--text-strong);
    display: flex;
    justify-content: flex-start;
  }

  .priceBulletBlack {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--text-strong);
    width: 4px;
    height: 4px;
  }

  .priceGrey {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
  }

  .priceLabel {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
  }

  .itemTotalPriceBlack {
    align-self: stretch;
    position: relative;
    font-size: var(--label-2);
    letter-spacing: 0.01em;
    line-height: 24px;
    color: var(--text-strong);
  }

  .divOptionChange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-base);
    font-size: var(--label-1);
  }

  .buttonLabel {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
  }

  .quantityChangeWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }

  .quantityChangeButton {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .quantityChangeButtonChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-9xs) 0 0 var(--br-9xs);
    background-color: var(--background-normal);
    width: 40px;
    height: 40px;
  }

  .quantityChangeIcon {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
  }

  .quantityChangeLabelWrapper {
    align-self: stretch;
    background-color: var(--background-normal);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-base);
    align-items: center;
    justify-content: center;
  }

  .quantityChangeLabel {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
  }
  
  .optionChangeButton {
    border-radius: var(--br-5xs);
    background-color: var(--background-normal);
    border: 1px solid var(--color-gray-600);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    align-items: center;
    justify-content: center;
  }

  .subDivider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid var(--line-alternative);
    box-sizing: border-box;
    height: 1px;
  }

  .divPastOrders {
    align-self: stretch;
    flex-direction: column;
    background-color: var(--background-normal);
    border-bottom: 1px solid var(--line-alternative);
    padding: var(--padding-5xl) var(--padding-base);
    gap: var(--gap-5xl);
    color: var(--text-alternative-2);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .pricePastOrders {
    position: relative;
    line-height: 24px;
    font-size: var(--title-2);
    text-align: right;
  }

  .divPastOrdersItemWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-base);
    font-size: var(--label-2);
  }

  .divPastOrdersItemHeader{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
  }

  .pastOrdersItemName {
    position: relative;
    line-height: 24px;
    letter-spacing: 0.01em;
    opacity: 0.6;
    margin-right: var(--gap-5xs);
  }

  .labelPending {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: var(--br-9xs);
    background-color: var(--line-alternative);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs);
    gap: var(--gap-9xs);
    font-size: var(--caption-1);
    color: var(--text-alternative-1);
    min-width: 81px;
    max-width: 81px;
  }

  .labelAccepted {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-9xs);
    background-color: var(--status-positive-2);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs);
    gap: var(--gap-9xs);
    font-size: var(--caption-1);
    color: var(--status-positive-1);
    min-width: 67px;
    max-width: 67px;
  }

  .labelRejected {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--br-9xs);
    background-color: var(--status-alert-2);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs);
    gap: var(--gap-9xs);
    font-size: var(--caption-1);
    color: var(--status-alert-1);
    min-width: 67px;
    max-width: 67px;
  }

  .statusIcon {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .status {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 16px;
  }

  .divPastOrdersPriceWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--label-3);
    color: var(--line-normal);
  }

  .priceBulletGrey {
    position: relative;
    border-radius: 50%;
    background-color: var(--line-normal);
    width: 4px;
    height: 4px;
  }

  .itemTotalPriceGrey {
    align-self: stretch;
    position: relative;
    font-size: var(--label-2);
    letter-spacing: 0.01em;
    line-height: 24px;
    color: var(--text-alternative-2);
    opacity: 0.6;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    background-color: var(--background-normal);
    box-shadow: 0-4px 20px rgba(0, 0, 0, 0.08);
    border-top: 1px solid var(--line-alternative);
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-base);
    align-items: center;
    gap: var(--gap-base);
    font-size: var(--label-3);
    color: var(--text-normal);
  }
  
  .totalPriceWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }

  .priceLabelSmall {
    position: relative;
    font-size: var(--caption-1);
    letter-spacing: 0.03em;
    line-height: 16px;
  }

  .submitButton{
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--primary-normal);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    align-items: center;
    justify-content: center;
    font-size: var(--label-1);
    color: var(--background-normal);
  }