.gnbMobile {
  align-self: stretch;
  background-color: var(--primary-normal);
  justify-content: flex-end;
  height: var(--hs-normal);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-base) var(--padding-base);
  justify-content: flex-start;
  color: var(--text-alternative-1);
}
.stickyWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background: inherit;
}
.logo{
  width: 56px;
  height: 56px;
  position: relative;
}
.logoChild {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.tablenumber {
  display: flex;
  align-items: center;
  margin-left: var(--gap-5xs);
  border-radius: var(--br-5xs);
  background-color: var(--background-normal);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-9xs);
  justify-content: flex-start;
}
.label{
  position: relative;
  letter-spacing: 0.03em;
  line-height: 16px;
}
.number {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-size: var(--label-1);
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--text-strong);
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base);
  justify-content: flex-start;
  margin-left: auto;
}
.cartWhiteIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.tabmenuitemPill {
  border-radius: var(--br-81xl);
  background-color: var(--primary-normal);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  color: var(--background-normal);
}

.tabmenugroup,
.tabmenuitemPill,
.tabmenuitemPill1,
.tabmenuitemPillParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;  /* Enable horizontal scrolling */
  white-space: nowrap;  /* Keep text in one line */
}

.tabmenuitemPill1 {
  border-radius: var(--br-81xl);
  border: 1px solid var(--line-strong);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
}

.tabmenuitemPillParent {
  flex-direction: row;
  gap: var(--gap-5xs);
}

.tabmenugroup {
  align-self: stretch;
  background-color: var(--background-normal);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-9xs) var(--padding-base);
  font-size: var(--label-3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabmenugroup::-webkit-scrollbar,
.tabmenuitemPillParent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tabmenugroup,
.tabmenuitemPillParent {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.label1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}
.title {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 26px;
}
.titlearea {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuimageIcon {
  position: relative;
  width: 96px;
  height: 96px;
  object-fit: cover;
  border: 0px solid transparent;
  border-radius: var(--br-9xs) ; 
}
.description,
.name {
  position: relative;
  font-family: var(--font-bold);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.name {
  align-self: stretch;
  font-size: var(--title-2);
  line-height: 24px;
  color: var(--text-normal);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}
.description {
  font-size: var(--caption-1);
  font-family: var(--font-regular);
  letter-spacing: 0.03em;
  line-height: 16px;
  color: var(--text-alternative-1);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}
.description,
.menuinfo,
.price {
  align-self: stretch;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all; 
}
.price {
  position: relative;
  font-size: var(--label-3);
  letter-spacing: 0.01em;
  line-height: 20px;
  font-family: var(--font-regular);
  color: var(--text-normal);
  text-align: left;
}
.menuinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.divMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  gap: var(--gap-base);
}
.divMenu,
.menuCard,
.titlearea1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuCard {
  background-color: var(--background-normal);
  border-bottom: 1px solid var(--line-alternative);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
}
.titlearea1 {
  flex-direction: row;
  font-size: var(--title-1);
  color: var(--text-strong);
}
.name3 {
  line-height: 24px;
}
.description3,
.name3,
.price3 {
  align-self: stretch;
  position: relative;
}
.description3 {
  font-size: var(--caption-1);
  letter-spacing: 0.03em;
  line-height: 16px;
  color: var(--text-alternative-1);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}
.price3 {
  font-size: var(--label-3);
  letter-spacing: 0.01em;
  line-height: 20px;
}
.divMenu3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.menuCard1 {
  align-self: stretch;
  background-color: var(--background-normal);
  border-bottom: 1px solid var(--line-alternative);
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
  font-size: var(--title-2);
  color: var(--text-normal);
}
.layout,
.menuCard1,
.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.layout {
  align-self: stretch;
  background-color: var(--background-alternative);
  gap: var(--gap-5xs);
  font-size: var(--title-1);
}
.mobile {
  position: relative;
  background-color: var(--primary-normal);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-1);
  color: var(--text-strong);
  font-family: var(--font-bold);
}