.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-color: var(--white-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-1);
  color: var(--text-strong);
  font-family: var(--font-bold);
}

.header {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  overflow: hidden;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-base) var(--padding-base);
  justify-content: flex-start;
  color: var(--text-alternative-1);
}

.headerFixed{
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primary-normal);
}

.restaurantLogo {
  width: 56px;
  height: 56px;
  position: relative;
}

.restaurantLogoChild {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  object-fit: cover;
}

.tableNumberWrapper {
  display: flex;
  align-items: center;
  margin-left: var(--gap-5xs);
  border-radius: var(--br-5xs);
  background-color: var(--background-normal);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-9xs);
  justify-content: flex-start;
}

.tableNumberLabel{
  position: relative;
  letter-spacing: 0.03em;
  line-height: 16px;
}

.tableNumber {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-size: var(--label-1);
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--text-strong);
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base);
  justify-content: flex-start;
  margin-left: auto;
}

.cartCount{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 24px;
  height: 24px;
  color: var(--white-white);
  font-size: var(--label-1);
}

.iconChild {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}

.categoryScrollBarWrapperFixed{
  width: 100%;
  top: 88px;
  background-color: var(--white-white);
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid var(--line-alternative);
}

.categoryScrollBarWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: scroll;  
  white-space: nowrap;
  align-self: stretch;
  background-color: var(--background-normal);
  flex-direction: column;
  padding: var(--padding-base);
  font-size: var(--label-3);
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.categoryScrollBarWrapper::-webkit-scrollbar {
  display: none;
}

.categoryScrollBar {
  flex-direction: row;
  gap: var(--gap-5xs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;  /* Enable horizontal scrolling */
  white-space: nowrap;  /* Keep text in one line */
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.categoryScrollBar::-webkit-scrollbar {
  display: none;
}

.categoryPillSelected {
  border-radius: var(--br-81xl);
  background-color: var(--primary-normal);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  color: var(--white-white);
  font-family: var(--font-bold);
}

.categoryPill {
  border-radius: var(--br-81xl);
  border: 1px solid var(--line-strong);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  color: var(--text-strong);
  font-family: var(--font-regular);
}

.menuCategoryLabel {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  background-color: var(--background-alternative);
  gap: var(--gap-5xs);
  font-size: var(--title-1);
  margin-top: 158px;
}

.menuCategoryWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--background-normal);
  border-bottom: 1px solid var(--line-alternative);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
}

.categoryTitleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.categoryTitle {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 26px;
}

.menuItemWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  gap: var(--gap-base);
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuImage {
  position: relative;
  width: 96px;
  height: 96px;
  object-fit: cover;
  border: 0px solid transparent;
  border-radius: var(--br-9xs) ; 
}

.menuContent {
  align-self: stretch;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all; 
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.menuName {
  font-family: var(--font-bold);
  text-align: left;
  align-self: stretch;
  font-size: var(--title-2);
  line-height: 24px;
  color: var(--text-normal);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}

.menuDescription{
  position: relative;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--caption-1);
  font-family: var(--font-regular);
  letter-spacing: 0.03em;
  line-height: 16px;
  color: var(--text-alternative-1);
  width: 100%; 
  align-self: stretch;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all; 
}

.menuPrice {
  align-self: stretch;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all; 
  position: relative;
  font-size: var(--label-3);
  letter-spacing: 0.01em;
  line-height: 20px;
  font-family: var(--font-regular);
  color: var(--text-normal);
  text-align: left;
}